/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}




@media (min-width: 768px) {

    html {
        font-size: 16px;
    }

    .foto {
        height: 220px;
        width: auto;
        margin-right: 15px;
    }
  
    .div-foto {
        min-width: 220px;
        max-width: 220px;
    }
    
    .title {
        margin-top: -60px;
    }

    .novo-curso {
        height: 50px;
    }
}

@media (max-width: 767px) {

    .foto {
        height: auto;
        width: 20vh;
        margin-right: 15px;
    }

    .div-foto {
        min-width: 25vh;
        max-width: 25vh;
    }
 
    .title {
        margin-top: -10px;
    }

    .div-novo-curso {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .novo-curso {
        height: 25px;
    }
}

.selecionar-curso{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;

}

    .selecionar-curso:hover, .btn-detalhes:hover, .novo-curso:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.03);
        text-decoration: none;
        color: white;
    }

.selecionar-curso:hover {
    color: black;
}

.btn-detalhes {
    background-color: black;
    color: white;
    width: 130px;
    border-radius: 60px 15px 15px 15px;
    text-align: center;
}

.edit {
    margin-top: -10px;
}

.plataforma, .title {
    max-width: 160px;
}

.lixeira {
    margin-top: -5px;
    margin-left: 5px;
}

.novo-curso {
    position: fixed;
    bottom: 0;
    font-size: 140%;
    width: 25vh;
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
    border-radius: 40px 40px 0 0;
    text-align: center;
}